<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>textUtils</title>
</head>
<body>
<h1>Welcome to text analyzer</h1>
    <form action="/analyze" method="get">
        <textarea name='text' style='margin: 0px; width: 721px; height: 93px'></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="fullcaps">CAPITALIZE ALL <br>
        <input type="checkbox" name="newlineremover">New Line Remover<br>
        <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
        <input type="checkbox" name="charcounter"> Character Counter<br>

        <button type="submit">Analyze text</button>
    </form>
</body>
</html>